*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/
.settings/
.metadata/
.recommenders/
Servers/
Servers2/
.classpath
.project

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
Source/Trunk/TrainWithMe/.settings/org.eclipse.core.resources.prefs
*.prefs
Source/Trunk/TrainWithMe/.classpath

Source/Trunk/TrainWithMe/.classpath
