.content {
	margin: auto;
	width: 60%;
	padding: 10px;
}

.jumbotron.twm {
	background: url('../images/bg.jpg') no-repeat center bottom fixed;
	-webkit-background-size: cover; /* For WebKit*/
	-moz-background-size: cover; /* Mozilla*/
	-o-background-size: cover; /* Opera*/
	background-size: cover; /* Generic*/
}

html, body {
	background-color: #FFEECC;
}

.footer {
	background-color: #DBC393;
}

input{
   text-align:center;
}


.logo-nav{
    width:70px; /* you can use % */
    height: auto;
}

.logo-center{
	position: relative;
    left: 50% !important;
    margin-left: -140px !important;  /* 50% of your logo width */
    padding-bottom: 50px !important;
    display: block;
}

.logo-nav-center{
	position: relative;
    top: 0px;
    left: 0px;
    display: block;
}
